name: build,install and deploy main branch
on:
  push:
    branches:
      - '!main'
jobs:
  build:
    name: install, build and deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: use Node.js 14
        uses: actions/setup-node@v3.2.0
        with:
          node-version: '14'
      - run: yarn install
      - name: Build
        run: |
          yarn run build
